<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClovaOcrTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClovaOcrTest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClovaOcrTest.Properties.Settings>
            <setting name="SecretKey" serializeAs="String">
                <value>YUV4T0RBSm9heEJTVE1YTXJjZEV2Q1had3ZNRUtVQ3E=</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>https://ch9oki5xr3.apigw.ntruss.com/custom/v1/21285/499dde92aacf74f69e94985499caf9e5197a9ee3f213a972d4d4b07d9eb3baf5/general</value>
            </setting>
            <setting name="InferConfidence" serializeAs="String">
                <value>0.7</value>
            </setting>
        </ClovaOcrTest.Properties.Settings>
        <ClovaOcrTest.Settings>
            <setting name="SecretKey" serializeAs="String">
                <value>YUV4T0RBSm9heEJTVE1YTXJjZEV2Q1had3ZNRUtVQ3E=</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>https://ch9oki5xr3.apigw.ntruss.com/custom/v1/21285/499dde92aacf74f69e94985499caf9e5197a9ee3f213a972d4d4b07d9eb3baf5/general</value>
            </setting>
            <setting name="InferConfidence" serializeAs="String">
                <value>0.7</value>
            </setting>
        </ClovaOcrTest.Settings>
    </userSettings>
</configuration>